$pr: red;
$anime: blue;



.header-wrapper {
    width: 100%;
    height: 838px;
    background: $pr;

}
p {
    font-size: 30pt;
    text-align: center;
}
.main-div-first {
    width: 100%;
    height: 1815px;
    background-color: aquamarine;
}
.types-repair {
    width: 100%;
    height: 1440px;
    background: yellow;
}